{% load static %}
<html>
<head>
    <title>The Legend of Barb</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="{% static 'animation/changeMenu.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">

    <!--

        https://www.w3schools.com/css/css3_animations.asp
        https://fonts.google.com/specimen/Monoton?selection.family=Monoton
        https://fonts.google.com/?selection.family=Monoton
        below is how to flip text
        https://stackoverflow.com/questions/5406368/can-you-use-css-to-mirror-flip-text
        Stranger THings Font...https://codepen.io/edelstone/pen/NAJqkY
        https://www.w3schools.com/css/css3_animations.asp
        Django https://tutorial.djangogirls.org/en/css/
        https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_onmousemove_over_enter

    -->

</head>
<body id="upsideDown" >


   
    <div class="menu-container" id="menubackground">
        <div class="menu" id="banner">
            <div class="barb-pic" id="barb"><img src="{% static 'imgs/barb_by_lornakelleherartScale.png' %}" /></div>
            
        </div>
        
    </div>
        <div class="blog-container" id="fullPost">

            {% for post in posts %}
            <div class="blog" onmouseover="mouseIn()" onmouseout="mouseOut()" >
                <span id="postTitle"><h1>{{ post.title }}</h1></span>
                <p><span class="dttme">published: {{ post.published_date }}</span></p>
                <p><span class="blogText">{{ post.text|linebreaksbr }}</span></p>
            </div>
            {% endfor %}
            





        </div>
        
    
</body>
</html>