
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #fff; /* white */
    padding: 50px 50px 50px 50px;
}


.menu {
    background-color: antiquewhite;
    box-shadow: 10px 10px 5px grey;
     width: 3500;
}


h1 {
    color: #FCA205;
    font-family: 'Monoton', cursive;
    font-size:30px;
}

 .blog:hover h1 {
        color: #FCA205;
        text-decoration: none;
        font-family: 'Monoton', cursive;
        transform: scale(1, -1);
    }

 .blog:hover div.menu  {
     color:aqua

 }

.blog-container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    
    
}

